@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: unset;
    padding: unset;
}

body {
    background-color: #f1f1f1;
    color: #0f141e;
    margin: unset;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* * {
        padding: 0;
        margin: 0;
    } */

    /* font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif; */
    font: normal 20px 'Roboto', sans-serif;
}

.soc {
    margin-bottom: 20px;
    font-style: normal;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}


a:visited {
    color: grey;
}

a:active {
    color: blue;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.35);
}

.info {
    display: flex;
    color: #87898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: capitalize; */
    /* letter-spacing: 5px;
    word-spacing: 42px; */

}

/* boxmodel */

.info h1 {
    color: black;
    font-style: normal;
}

.info img {
    margin-right: 40px;
    margin-bottom: 40px;
}




.info h4 {
    margin-bottom: 10px;
}

.container {
    width: 1100px;
    margin: auto;
    padding-top: 0;
}
.container2 {
    width: 1100px;
    margin-left: 12%;
    margin-top: 5%;
    padding-top: 0;
}

.container_items {
    width: 1100px;
    margin-left: 7%;
    display: table-row;
    margin-top: 1.5%;
    padding-top: 0;
    /*background-color: #ececf1;*/
}


.bg-yeloow {
    background: #fff9dc;
}


.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.contact-form {
    text-decoration-color: blue;
}


.card h2 {
    margin-bottom: 12px;
}

.list {
    padding-left: 19px;
}

.lisl li {
    color: #86898f;
    margin-bottom: 10px;
}

.table1 {
    width: 100%;
}

.table1 td {
    padding-bottom: 10px;
}

.table1 td:nth-child(2),
.table1 td:nth-child(3) {
    color: #86898f;
}

/* .table1 tr:nth-child(odd) {
    background: red;
} */

.list2 {
    /* list-style: none; */
    padding-left: 20px;
}

.list2 li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #ccc; */
}

.contact h2 {
    text-align: center;
}

.contact-form label {
    display: block;
    font-size: 20px;
    color: #202226;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .contact-form {
    width: 50%;
    margin-right: 20px;
}

.row > .contact-form:last-child {
    margin-right: 0;
}


.btn {
    color: white;
    padding: 15px 20px;
    background-color: rgba(102, 46, 4, 0.55);
    border: none;
    /* font-family: inherit; */
    cursor: pointer;

}


.btn:hover {
    opacity: 0.9;
    text-decoration: underline;
}

.btn:active {
    background-color: grey;
}


.header .container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: unset;
    padding: .7rem;
    opacity: 1;

}


.header {
    /* position: fixed; */
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(162, 148, 148, 0.55);
    justify-content: center;
    opacity: 1;

}

.header .container .content {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    display: flex;
}

.footer.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: unset;
    padding: .7rem;
    opacity: 1;

}

.main-content {
    flex: 1;
}

.footer {
    display: flex;
    width: 100%;
    background-color: rgba(162, 148, 148, 0.55);
    justify-content: center;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}


.footer .container .content {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    display: flex;
}

.contact_me {
    margin: auto 0;
}

.contact_me:visited {
    color: black;
}


.logo {
    height: 5.5rem;
    width: 9%;
    border-radius: 10px;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

/*header{*/
/*  padding-top: 20px;*/

/*}*/

.shop-cart-button {
    float: right;
    padding-right: 25%;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.shop-cart-button:hover,
.shop-cart-button.active {
    color: #dc3d3d;
    /*transform: scale(1.5);*/
}

.shop-cart {
    position: absolute;
    padding-left: 10px;
    top: 11.8%;
    right: 45px;
    width: 350px;
    min-height: 50px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px;
    box-shadow: 4px 5px 15px -7px;
    z-index: 3000;



}


 .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

 .shop-cart .items {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

 .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

 .shop-cart .item b {
    color: rgb(128, 128, 128);
    font-weight: 600;
}

.add-to-cart {
    color: blue;
    display: inline-block;
    background: lightblue;
    border-radius: 40px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all, transform 500ms ease

}
.add-to-cart:hover{
    border-color: navy;
    transform: scale(1.1);
}

.go-to-offer{
    color: green;
    display: inline-block;
    background: lightgreen;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all, transform 500ms ease
}
.go-to-offer:hover{
    border-color: darkgreen;
    transform: scale(1.1);
}

/*.full-item {*/
/*  cursor: pointer;*/
/*  transition: color, transform  500ms ease;*/
/*}*/

 .shop-cart .item .delete-icon {
    color: red;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease

}

 .shop-cart .item .delete-icon:hover {
    color: #841010;
    transform: scale(1.5);
}

.categories div {
    display: inline-block;
    background: #ececec;
    border-radius: 40px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all, transform 500ms ease
}
.categories div:hover {
    border-color: #9e9d9d;
    transform: scale(1.1);
}

.item {
    color: #100c0c;
    display: table-row;
    padding-top: 10px;
}
.container_go_to_checkout {

}

.go-to-offer-button{
    display: inline-block;
    background: lightgrey;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all, transform 500ms ease
}
.go-to-offer-button:hover{
    border-color: #9e9d9d;
    transform: scale(1.1);
}





